<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">

    </script>
</head>
<body ng-app >
    <div ng-init="doctors=['Amit','Rohit','Vikas']">
        <h1>Hospital Management</h1>
        Patient Name:
        <input type="text" ng-model="patient">
        <br><br>
        <button ng-click="status='Appointment Confirmed'">
            Confirm
        </button>
        <h2>{{status}}</h2>
        <h2>{{patient|uppercase}}</h2>
        <h2>{{fee|currency:'₹'}}</h2>
        <ul>
            <li ng-repeat="d in doctors">
                {{d}}

            </li>
        </ul>
        <p ng-show="true">
            Doctors Available
        </p>

    </div>
</body>
</html>